midas_pipe/
kraken_pipe/adapters/*
kraken_pipe/bracken_outputs/*
kraken_pipe/breports/*
kraken_pipe/kraken_analysis/*
kraken_pipe/kraken_reports/*
kraken_pipe/krona_temp/*
kraken_pipe/my_kraken_db/Custom_Genomes/*
kraken_pipe/my_kraken_db/krakendb/*
kraken_pipe/qual_rep_temp/*
kraken_pipe/test_db/*
kraken_pipe/trimmed_reads/*
kraken_pipe/untrimmed_reads/*
data_processing/kraken_data/*
SKINOME_training_data/no_trim_test/*
#SKINOME_training_data/summary_o/*
SKINOME_training_data/sorted_reads/*
SKINOME_training_data/seq_reads/*
SKINOME_training_data/temp/*
SKINOME_training_data/unpaired_unproc/*
SKINOME_training_data/classifier/*
